{% extends "base.html" %}

{% block content %}
<h2>All Registered Users</h2>
    <p>Click a user below to manage their account.</p>
    <p>Total users: {{ users | length }}</p>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('admin.view_user', user_id=user.user_id) }}">{{ user.full_name }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}