{% extends "base.html" %}

{% block content %}
    <h1>About Page</h1>
    <h2>This website will allow you to book apoointments!</h2>
    <section id="aboutImages">
        <figure>
            <img src="{{ url_for('static', filename='images/david.jpg') }}">
            <figcaption>David</figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/josh.jpg') }}">
            <figcaption>Josh</figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/andy.jpg') }}">
            <figcaption>Andy</figcaption>
        </figure>
    </section>
{% endblock %}